In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/sample_data/dataset_Facebook.csv')

In [ ]:
df.head

<bound method NDFrame.head of     Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[500 rows x 1 columns]>

In [ ]:
df.shape

(500, 1)

In [ ]:
df = pd.read_csv('/content/sample_data/dataset_Facebook.csv',delimiter=';')

In [ ]:
df.head

<bound method NDFrame.head of      Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0              139441   Photo         2          12             4          3
1              139441  Status         2          12             3         10
2              139441   Photo         3          12             3          3
3              139441   Photo         2          12             2         10
4              139441   Photo         2          12             2          3
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           1             7          2
496             81370   Photo         2           1             5          8
497             81370   Photo         1           1             5          2
498             81370   Photo         3           1             4         11
499             81370   Photo         2           1             4          4

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0     0.0                       2752                             5091
1     0.0                      10460                            19057
2     0.0                       2413                             4373
3     1.0                      50128                            87991
4     0.0                       7244                            13594
..    ...                        ...                              ...
495   0.0                       4684                             7536
496   0.0                       3480                             6229
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292

     Lifetime Engaged Users  Lifetime Post Consumers  \
0                       178                      109
1                      1457                     1361
2                       177                      113
3                      2211                      790
4                       671                      410
..                      ...                      ...
495                     733                      708
496                     537                      508
497                     625                      572
498                     626                      574
499                     564                      524

     Lifetime Post Consumptions  \
0                           159
1                          1674
2                           154
3                          1119
4                           580
..                          ...
495                         985
496                         687
497                         795
498                         832
499                         743

     Lifetime Post Impressions by people who have liked your Page  \
0                                                 3078
1                                                11710
2                                                 2812
3                                                61027
4                                                 6228
..                                                 ...
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime Post reach by people who like your Page  \
0                                                1640
1                                                6112
2                                                1503
3                                               32048
4                                                3200
..                                                ...
495                                              2876
496                                              2104
497                                              2388
498                                              2452
499                                              2200

     Lifetime People who have liked your Page and engaged with your post  \
0                                                  119
1                                                 1108
2                                                  132
3                                                 1386
4                                                  396
..                                                 ...
495                                                392
496                                                301
497                                                363
498                                                370
499                                                316

     comment    like  share  Total Interactions
0          4    79.0   17.0                 100
1          5   130.0   29.0                 164
2          0    66.0   14.0                  80
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
..       ...     ...    ...                 ...
495        5    53.0   26.0                  84
496        0    53.0   22.0                  75
497        4    93.0   18.0                 115
498        7    91.0   38.0                 136
499        0    91.0   28.0                 119

[500 rows x 19 columns]>

In [ ]:
df = pd.read_csv("/content/sample_data/dataset_Facebook.csv",delimiter=';')
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [ ]:
sb1 = df.loc[5:50,['Type','Post Weekday','Post Hour','like','share']]
sb1

      Type  Post Weekday  Post Hour   like  share
5   Status             1          9  152.0   33.0
6    Photo             1          3  249.0   27.0
7    Photo             7          9  325.0   14.0
8   Status             7          3  161.0   31.0
9    Photo             6         10  113.0   26.0
10  Status             5         10  233.0   19.0
11   Photo             5         10   88.0   18.0
12   Photo             5         10   90.0   14.0
13   Photo             5          3  137.0   10.0
14   Photo             4          5  577.0   20.0
15  Status             3         10   86.0   18.0
16   Photo             3          3   40.0   12.0
17   Photo             2         12  678.0   20.0
18  Status             2          3   54.0   17.0
19   Photo             1         11   34.0    8.0
20   Photo             1          3   66.0   12.0
21   Photo             7         10    0.0    0.0
22    Link             7         10   16.0    2.0
23   Photo             7          3   72.0   24.0
24  Status             6         10   99.0   19.0
25  Status             6          3   88.0   18.0
26  Status             5         11  412.0   72.0
27   Photo             5          3  100.0   17.0
28   Photo             5          3  523.0   63.0
29   Video             4         11  143.0   13.0
30   Photo             4          2  107.0   22.0
31   Photo             3         10   27.0   11.0
32   Photo             3          3  155.0   47.0
33   Photo             2          9   98.0   23.0
34   Photo             2          3   56.0   17.0
35   Photo             1         11  172.0   21.0
36   Photo             1          3   96.0   17.0
37   Photo             7         10   76.0    8.0
38  Status             7          9  227.0   31.0
39   Photo             7          3   44.0   14.0
40  Status             6         11  216.0   39.0
41    Link             6          3  187.0   18.0
42   Photo             5         10   26.0    3.0
43    Link             5          3   29.0   10.0
44   Photo             4         11   47.0   11.0
45    Link             4          3   57.0   10.0
46  Status             3         11  174.0   36.0
47    Link             3          2   18.0    8.0
48   Photo             2         11   77.0   15.0
49    Link             2          2   12.0    1.0
50   Photo             1          9   48.0    9.0

In [ ]:
sb2 = df.loc[0:3,['Type','like','share']]
sb2

     Type    like  share
0   Photo    79.0   17.0
1  Status   130.0   29.0
2   Photo    66.0   14.0
3   Photo  1572.0  147.0

In [ ]:
mg1 = pd.merge(sb1,sb2,on='Type')
mg1

      Type  Post Weekday  Post Hour  like_x  share_x  like_y  share_y
0   Status             1          9   152.0     33.0   130.0     29.0
1   Status             7          3   161.0     31.0   130.0     29.0
2   Status             5         10   233.0     19.0   130.0     29.0
3   Status             3         10    86.0     18.0   130.0     29.0
4   Status             2          3    54.0     17.0   130.0     29.0
..     ...           ...        ...     ...      ...     ...      ...
90   Photo             2         11    77.0     15.0    66.0     14.0
91   Photo             2         11    77.0     15.0  1572.0    147.0
92   Photo             1          9    48.0      9.0    79.0     17.0
93   Photo             1          9    48.0      9.0    66.0     14.0
94   Photo             1          9    48.0      9.0  1572.0    147.0

[95 rows x 7 columns]

In [ ]:
st1 = df.sort_values(by='Page total likes')
st1.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
493,85093,Photo,3,1,1,2,0.0,8412,13960,1179,1111,1632,8632,5348,699,17,185.0,55.0,257

In [ ]:
tp1 = sb1.transpose()
tp1

,5,6,7,8,9,10,11,12,13,14,...,41,42,43,44,45,46,47,48,49,50
Type,Status,Photo,Photo,Status,Photo,Status,Photo,Photo,Photo,Photo,...,Link,Photo,Link,Photo,Link,Status,Link,Photo,Link,Photo
Post Weekday,1,1,7,7,6,5,5,5,5,4,...,6,5,5,4,4,3,3,2,2,1
Post Hour,9,3,9,3,10,10,10,10,3,5,...,3,10,3,11,3,11,2,11,2,9
like,152.0,249.0,325.0,161.0,113.0,233.0,88.0,90.0,137.0,577.0,...,187.0,26.0,29.0,47.0,57.0,174.0,18.0,77.0,12.0,48.0
share,33.0,27.0,14.0,31.0,26.0,19.0,18.0,14.0,10.0,20.0,...,18.0,3.0,10.0,11.0,10.0,36.0,8.0,15.0,1.0,9.0

In [ ]:
sb1.melt()

    variable   value
0       Type  Status
1       Type   Photo
2       Type   Photo
3       Type  Status
4       Type   Photo
..       ...     ...
225    share    36.0
226    share     8.0
227    share    15.0
228    share     1.0
229    share     9.0

[230 rows x 2 columns]